<button (click)="loadUsers()">Mostrar Usuarios</button>
<div *ngFor="let user of data">
  <p>{{ user.Nombre }}</p>
  <p>{{ user.Apellido }}</p>
  <p>{{ user.Mail }}</p>
  <button (click)="deleteUser(user.id)">Eliminar Usuario</button>
</div>
<h2>Crear Nuevo Usuario</h2>
<form (submit)="createUser(); $event.preventDefault()">
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="Use.Nombre" name="Nombre" required>
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="Use.Apellido" name="Apellido" required>
  <label>Mail:</label>
  <input type="text" [(ngModel)]="Use.Mail" name="Mail" required>
  <label>Contraseña:</label>
  <input type="text" [(ngModel)]="Use.Clave" name="Clave" required>
  <button type="submit">Crear Usuario</button>
</form>